body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}
.app{
    background-color: rgb(73, 167, 167);
    width: 400px;
    padding: 20px;
    margin: 50px auto;
}
img{
    width: 40px;
    height: 40px;
}
.todo-form input{
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    outline:none ;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.5);;
}
button{
    padding: 10px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
ul li{
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    margin-top: 20px;

}
